services:
  product-service:
    build:
      context: ./ProductService
    container_name: product-service
    ports:
      - "8081:8081"
    networks:
      - spring-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8081/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 20s

  order-service:
    build:
      context: ./OrderService
    container_name: order-service
    ports:
      - "8082:8082"
    depends_on:
      product-service:
        condition: service_healthy
    networks:
      - spring-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8082/actuator/health"]
      interval: 10s
      timeout: 3s
      retries: 5
      start_period: 20s

networks:
  spring-net:
    driver: bridge